* {
    box-sizing: border-box;
}

:root {
    --bg: #f6f2ea;
    --text: #212121;
    --btn: #CCBEB5;
    --btn-hover: #C4B6AE;
    --btn-active: #BDAFA6;
    --decorate: #d26d68;
    --link: #913F3A;
    --link-hover: #cb605a;
    --message-bg: #f4f4f4;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

.header {
    font-size: 2rem;
    margin-top: 45px;
    margin-bottom: 15px;
}

.decorate {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--decorate);
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

#message {
    background: var(--message-bg); 
    width: 85vw;
    margin: 7vw 0 0 0;
    padding: 32px 24px 16px;
    border-radius: 3px;
    border: 1px solid var(--text);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
        /* padding: 40px; */
    }

    /* .header {
        font-size: 3rem;
        margin-top: 100px;
    } */
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1rem;
        /* padding: 60px; */
    }

    /* .header {
        font-size: 2rem;
        margin-top: 70px;
    } */
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
}
