* {
    box-sizing: border-box;
}

:root {
    --bg: #e8e5dc;
    --post-bg: #f0f0ee;
    --text: #212121;
    --dark-text: #000000;
    --btn: #D6CDC6;
    --btn-hover: #D6C8BF;
    --btn-active: #CCBEB5;
    --link: #913F3A;
    --link-hover: #cb605a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 7px 5px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    color: var(--dark-text);
    background-color: var(--btn-hover);
}

button:active {
    color: var(--text);
    background-color: var(--btn-active);
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

.header {
    font-size: 2rem;
    margin-top: 65px;
    margin-bottom: 20px;
}

section {
    scroll-margin-top: 80px;   /* accounts for nav bar's space */
}

#posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--text);
    border-radius: 10px;
    background-color: var(--post-bg);
}

.post-cover-img {
    width: 100%;
    margin-bottom: 5px;
}

.post-title {
    margin: 10px 0;
}

.post-date {
    margin: 0;
}

.read-more-btn {
    margin-bottom: 5px;
    border-radius: 5px;
}

.click {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
