* {
    box-sizing: border-box;
}

:root {
    --bg: #e8e5dc;
    --text: #212121;
    --dark-text: #000000;
    --btn: #CCBEB5;
    --btn-hover: #C4B6AE;
    --btn-active: #BDAFA6;
    --link: #913F3A;
    --link-hover: #cb605a;
    --project-bg: #c48f8a;
    --project2-bg: #d4b8b6;
    --project-link: #5c2623;
    --project-link-hover: #74322e;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

.header {
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 0;
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

section {
    scroll-margin-top: 80px;   /* accounts for nav bar's space */
    margin-bottom: 30px;
}

h2 {
    margin: 10px 0;
}

.project {
    background-color: var(--project-bg);
    color: var(--dark-text);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.project:nth-child(odd) {
    background-color: var(--project2-bg);
    color: var(--text);
}

.project .project-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.project .project-title .title,
.project .project-title .date,
.project .project-desc,
.project .project-links p {
    padding: 0;
    margin: 0;
}

.project img {
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 5px;
}

.project .project-title .date {
    font-size: 0.7rem;
}
 
.project .project-desc {
    margin: 10px 0;
}

.project .project-links {
    display: flex;
    justify-content: space-around;
}

.project:nth-child(even) .project-links a:link,
.project:nth-child(even) .project-links a:visited {
    color: var(--project-link);
}

.project:nth-child(even) .project-links a:hover {
    color: var(--project-link-hover);
}

.project:nth-child(even) .project-links a:active {
    color: var(--project-link);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
