* {
    box-sizing: border-box;
}

:root {
    --bg: #f6f2ea;
    --text: #212121;
    --dark-text: #000000;
    --btn: #CCBEB5;
    --btn-hover: #C4B6AE;
    --btn-active: #BDAFA6;
    --decorate: #d26d68;
    --link: #913F3A;
    --link-hover: #cb605a;
    --project-bg: #c48f8a;
    --project2-bg: #d4b8b6;
    --project-link: #5c2623;
    --project-link-hover: #74322e;
    --project-img-bg: #e7e7e7;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

.header {
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 0;
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

.decorate {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--decorate);
}

section {
    scroll-margin-top: 70px;   /* accounts for nav bar's space */
    margin-bottom: 30px;
}

h2 {
    margin: 15px 0 10px 0;
}

#background p {
    margin: 0 0 10px 0;
}

#languages-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.languages {
    display: flex;
    gap: 10px;
    align-items: center;
}

.languages img {
    height: 25px;
    background-color: transparent;
}

#cpp img {
    margin-left: 1px;
}

.languages .name {
    margin: 0;
}

#cp-desc {
    margin: 0;
}

#cpp .name {
    margin-left: 2px;
}

#stats-title {
    margin-bottom: 8px;
}

.stats {
    margin: 0;
    margin-bottom: 5px;
}

#projects-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--project-bg);
    color: var(--dark-text);
    padding: 15px;
    border-radius: 8px;
}

.project:nth-child(odd) {
    background-color: var(--project2-bg);
    color: var(--text);
}

.project .project-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.project .project-title .title,
.project .project-title .date,
.project .project-desc,
.project .project-links p {
    padding: 0;
    margin: 0;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.project .project-title .date {
    font-size: 0.7rem;
}
 
.project .project-desc {
    margin-top: 10px;
}

.project .project-links {
    display: flex;
    justify-content: space-around;
}

.project:nth-child(even) .project-links a:link,
.project:nth-child(even) .project-links a:visited {
    color: var(--project-link);
}

.project:nth-child(even) .project-links a:hover {
    color: var(--project-link-hover);
}

.project:nth-child(even) .project-links a:active {
    color: var(--project-link);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
        padding: 40px;
    }

    .header {
        font-size: 3rem;
        margin-top: 100px;
    }

    section {
        scroll-margin-top: 120px;   /* accounts for nav bar's space */
    }

    h2 {
        font-size: 2.25rem;
        margin: 50px 0 10px 0;
    }

    #projects-container {
        gap: 20px;
    }

    .project {
        gap: 25px;
        padding: 30px 35px;
        border-radius: 8px;
    }

    .right {
        gap: 15px;
    }

    .project .project-title {
        gap: 17px;
    }

    .project .project-title .date {
        font-size: 1.25rem;
    }
    
    .project img {
        border-radius: 5px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1rem;
        padding: 10vw;
        padding-top: 60px;
    }

    .header {
        font-size: 2rem;
        margin-top: 40px;
    }

    section {
        scroll-margin-top: 90px;   /* accounts for nav bar's space */
    }

    h2 {
        font-size: 1.5rem;
        margin: 30px 0 10px 0;
    }

    .project {
        flex-direction: row;
        gap: 40px;
        padding: 20px 25px;
        height: auto;
    }

    .left {
        flex-basis: 0;
        flex-grow: 10;
        padding: 5px 0;
    }

    .right {
        flex-basis: 0;
        flex-grow: 9;
        gap: 10px;
        height: auto;
    }

    .project-img {
        height: 0;
        flex-grow: 1;
        background-color: var(--project-img-bg);
        border-radius: 5px;
        overflow: hidden;
    }

    .right img {
        width: auto;
        height: 100%;
        border-radius: 0;
    }

    .project .project-title {
        gap: 10px;
    }

    .project .project-title .date {
        font-size: 0.75rem;
    }
}
