* {
    box-sizing: border-box;
}

:root {
    --bg: #f6f2ea;
    --text: #212121;
    --dark-text: #000000;
    --btn: #CCBEB5;
    --btn-hover: #C4B6AE;
    --btn-active: #BDAFA6;
    --decorate: #d26d68;
    --link: #913F3A;
    --link-hover: #cb605a;
    --filmstrip: #494543;
    --filmstrip-highlight: #645f5b;
    --photo-bg: #E7EAF3;
    --card-bg: #F1EDE6;
    --project-bg: #c48f8a;
    --project2-bg: #d4b8b6;
    --project-link: #5c2623;
    --project-link-hover: #74322e;
    --post-bg: #f4f4f4;
    --post-btn: #D6CDC6;
    --post-btn-hover: #D6C8BF;
    --post-btn-active: #CCBEB5;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

.header {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 15px;
}

.decorate {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--decorate);
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

#nav-bar {
    display: none;
}

#nav-bar.active {
    display: block;
}

section {
    scroll-margin-top: 85px;   /* accounts for nav bar's space */
}

#hero-section {
    position: relative;
    min-height: calc(100vh - 30px);
    width: calc(100% + 30px);
    background-color: none;
    background-image: url("../photos/torn-paper.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: -20px -15px;
    margin-bottom: 95px;
    padding: 10px 0;
}

#hero-content {
    padding: 35px 60px 215px 45px;
}

#name {
    margin: 0;
    padding-bottom: 2px;
}

#hero-desc {
    margin-bottom: 11px;
}

.hero-text {
    margin: 0;
    padding: 5px;
}

#portrait {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

#sticky-parent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 240px;
}

#about-me-div {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: calc(80vh);
    text-align: center;
    width: 100%;
}

.project {
    background-color: var(--project-bg);
    color: var(--dark-text);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.project:nth-child(odd) {
    background-color: var(--project2-bg);
    color: var(--text);
}

.project .project-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.project .project-title .title,
.project .project-title .date,
.project .project-desc,
.project .project-links p {
    padding: 0;
    margin: 0;
}

.project img {
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 5px;
}

.project .project-title .date {
    font-size: 0.7rem;
}
 
.project .project-desc {
    margin: 10px 0;
}

.project .project-links {
    display: flex;
    justify-content: space-around;
}

.project:nth-child(even) .project-links a:link,
.project:nth-child(even) .project-links a:visited {
    color: var(--project-link);
}

.project:nth-child(even) .project-links a:hover {
    color: var(--project-link-hover);
}

.project:nth-child(even) .project-links a:active {
    color: var(--project-link);
}

#projects-btn,
#milestones-btn,
#blog-btn {
    display: block;
    margin: auto;
}

.read-more-btn {
    background-color: var(--post-btn);
    color: var(--text);
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 7px 5px 20px -14px #000000;
}

.read-more-btn:hover {
    cursor: pointer;
    color: var(--dark-text);
    background-color: var(--post-btn-hover);
}

.read-more-btn:active {
    color: var(--text);
    background-color: var(--post-btn-active);
}

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--text);
    border-radius: 10px;
    background-color: var(--post-bg);
    margin-bottom: 15px;
}

.post-cover-img {
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
}

.post-title {
    margin: 10px 0;
    cursor: pointer;
}

.post-date {
    margin: 0;
    cursor: pointer;
}

.read-more-btn {
    margin-bottom: 5px;
    border-radius: 5px;
}

.click {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #hero-section {
        width: 50%;
        /* Add more photos and have name in center */
    }
}

@media screen and (min-width: 1200px) {
}
