* {
    box-sizing: border-box;
}

:root {
    --bg: #f6f2ea;
    --section-bg: #C8CCE0;
    --section-bg-hover: #C2C5D6;
    --section-bg-active: #B9BDD0;
    --text: #212121;
    --section2-bg: #99A2CE;
    --section2-bg-hover: #939CC7;
    --section2-bg-active: #8D95BF;
    --text2: #000000;
    --dark-text: #000000;
    --btn: #CCBEB5;
    --btn-hover: #C4B6AE;
    --btn-active: #BDAFA6;
    --link: #913F3A;
    --link-hover: #cb605a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

.header {
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 10px;
}

#instructions {
    margin: 0;
    margin-bottom: 20px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#left, #right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    scroll-margin-top: 75px;   /* accounts for nav bar's space */
    background-color: var(--section-bg);
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px #000000;
    padding: 10px;
    cursor: pointer;
    height: max-content;
}

.card:hover {
    background-color: var(--section-bg-hover);
    transform: scale(1.015);
}

#left .card:nth-child(even),
#right .card:nth-child(odd) {
    background-color: var(--section2-bg);
    color: var(--text2);
}

#left .card:nth-child(even):hover, 
#right .card:nth-child(odd):hover {
    background-color: var(--section2-bg-hover);
    transform: scale(1.015);
}

#left .card:nth-child(even):active, 
#right .card:nth-child(odd):active {
    background-color: var(--section2-bg-active);
}

.card > h2 {
    margin: 0;
}

h2 a {
    font-size: 0.85rem;
    font-weight: 400;
    margin-left: 5px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
    margin-top: 10px;
    max-height: 200px;
    overflow: hidden;
}

.content.expand {
    max-height: none;
}

.card .fade {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 125px;
    width: 100%;
    height: 75px;
    background: linear-gradient(transparent, var(--section-bg));
}

.fade p:hover {
    padding-bottom: 3px;
    transform: scale(1.25);
}
.card:hover .fade {
    background: linear-gradient(transparent, var(--section-bg-hover));
}

.card:active .fade {
    background: linear-gradient(transparent, var(--section-bg-active));
}

#left .card:nth-child(even) .content .fade,
#right .card:nth-child(odd) .content .fade {
    background: linear-gradient(transparent, var(--section2-bg));
}

#left .card:nth-child(even):hover .content .fade,
#right .card:nth-child(odd):hover .content .fade {
    background: linear-gradient(transparent, var(--section2-bg-hover));
}

#left .card:nth-child(even):active .content .fade,
#right .card:nth-child(odd):active .content .fade {
    background: linear-gradient(transparent, var(--section2-bg-active));
}

.content.expand .fade {
    visibility: hidden;
}

.content .date {
    font-size: 0.8rem;
    font-weight: 300;
}

.content p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
        padding: 40px;
    }

    button {
        font-size: 2rem;
        padding: 18px 30px;
    }

    .header {
        font-size: 3rem;
        margin-top: 80px;
    }

    section {
        scroll-margin-top: 120px;   /* accounts for nav bar's space */
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1rem;
        padding: 10vw;
    }

    button {
        font-size: 1.4rem;
        padding: 15px 25px;
    }

    .header {
        font-size: 2rem;
        margin-top: 0;
    }

    section {
        scroll-margin-top: 100px;   /* accounts for nav bar's space */
    }
    
    #cards {
        flex-direction: row;
    }

    #left, #right {
        flex-basis: 0;
        flex-grow: 1;
    }
}
