* {
    box-sizing: border-box;
}

:root {
    --bg: #e8e5dc;
    --section-bg: #f0f0ee;
    --section-bg-hover: #e5e5e3;
    --section-bg-active: #deded8;
    --text: #212121;
    --dark-text: #000000;
    --btn: #CCBEB5;
    --btn-hover: #C4B6AE;
    --btn-active: #BDAFA6;
    --link: #913F3A;
    --link-hover: #cb605a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 20px;
}

button {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn);
    color: var(--text);
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px -10px #000000;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--link);
    text-decoration: none;
}

.header {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 10px;
}

#instructions {
    margin: 0;
    margin-bottom: 20px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#cards > div {
    scroll-margin-top: 75px;   /* accounts for nav bar's space */
    background-color: var(--section-bg);
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px #000000;
    padding: 10px;
}

#cards > div:hover {
    background-color: var(--section-bg-hover);
    transform: scale(1.015);
}

#cards > div:active {
    background-color: var(--section-bg-active);
}

#cards > div > h2 {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
    margin-top: 10px;
    max-height: 200px;
    overflow: hidden;
}

.content.expand {
    max-height: none;
}

.content .date {
    font-size: 0.8rem;
    font-weight: 300;
}

.content p {
    margin: 0;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
