* {
    box-sizing: border-box;
}

:root {
    --bg: #e8e5dc;
    --text: #212121;
    --dark-text: #000000;
    --btn: #CCBEB5;
    --btn-hover: #C4B6AE;
    --btn-active: #BDAFA6;
    --decorate: #d26d68;
    --link: #913F3A;
    --link-hover: #cb605a;
    --nav: #36322e;
    --nav-text: #F0F0F0;
    --nav-text-hover: #cbcbcb;
    --filmstrip: #494543;
    --filmstrip-highlight: #645f5b;
    --photo-bg: #E7EAF3;
    --card-bg: #F1EDE6;
    --project-bg: #c48f8a;
    --project2-bg: #d4b8b6;
    --project-link: #5c2623;
    --project-link-hover: #74322e;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--nav);
    color: var(--nav-text);
    margin: 0;
    padding: 10px 15px;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#logo-img {
    width: 40px;
    height: 40px;
}

#logo h1 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}

#nav-btns a {
    margin: 0 5px;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: calc(100vh - 90px);
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

#nav-links li {
    margin: 0 10px;
    font-size: 1.5rem;
}

#divider {
    margin: 15px 0;
    width: 100%;
    border: 1px solid var(--nav-text);
}

#nav-links a:link,
#nav-links a:visited,
#nav-btns a:link,
#nav-btns a:visited {
    color: var(--nav-text);
    text-decoration: none;
}

#nav-links a:hover,
#nav-btns a:hover {
    color: var(--nav-text-hover);
    text-decoration: none;
}

#nav-links a:active,
#nav-btns a:active {
    color: var(--nav-text);
}
