* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: bisque;
}

button {
    font-family: "Outfit", sans-serif;
    color: black;
}

button:hover {
    cursor: pointer;
}

.header {
    font-size: 2rem;
    margin-top: 70px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: -20px;
    padding: 5px 15px;
    width: 100%;
    background-color: tan;
}

section {
    scroll-margin-top: 80px;   /* accounts for nav bar's space */
}

.project {
    background-color: rgb(210, 188, 160);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.project:nth-child(odd) {
    background-color: rgb(192, 165, 130);
}

.project .project-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.project .project-title .title,
.project .project-title .date,
.project .project-desc,
.project .project-links p {
    padding: 0;
    margin: 0;
}

.project img {
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
}

.project .project-title .date {
    font-size: 0.7rem;
}
 
.project .project-desc {
    margin: 10px 0;
}

.project .project-links {
    display: flex;
    justify-content: space-around;
}

footer {
    margin: -20px;
    margin-top: 30px;
    padding: 15px;
    background-color: tan;
}

@media screen and (min-width: 768px) {
    #hero-section {
        width: 50%;
        /* Add more photos and have name in center */
    }
}

@media screen and (min-width: 1200px) {
}
