* {
    box-sizing: border-box;
}

:root {
    --warm-yellow: #f3d9b1;
    --light-yellow: #F5EBDC;
    --warm-gray: #D1C9BC;
    --warm-pink: #a89e94;
    --light-pink: #a6808c;
    --dark-pink: #724b63;
    --dark-green: #214f4b;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--warm-yellow);
}

button {
    font-family: "Outfit", sans-serif;
    color: black;
}

button:hover {
    cursor: pointer;
}

.center {
    text-align: center;
}

.header {
    font-size: 2rem;
    margin-top: 50px;
}

.decorate {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--light-pink);
}

a:link, a:visited {
    color: var(--dark-pink);
    text-decoration: none;
}

a:hover {
    color: var(--light-pink);
    text-decoration: underline;
}

a:active {
    color: var(--dark-pink);
}

#nav-bar {
    display: none;
    position: fixed;
    margin: -20px;
    padding: 5px 15px;
    width: 100%;
    background-color: var(--warm-gray);
}

#nav-bar.active {
    display: flex;
    justify-content: space-between;
}

#hero-section {
    position: relative;
    min-height: calc(100vh - 30px);
    width: 100%;
    background-color: none;
    background-image: url("photos/torn-paper.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 40px -3px 35px -37px rgba(0,0,0,0.32);
    border-radius: 7px;
}

#hero-content {
    padding: 20px 30px 200px 30px;
}

#name {
    margin: 0;
    padding-bottom: 2px;
}

#hero-desc {
    margin-bottom: 11px;
}

.hero-text {
    margin: 0;
    padding: 5px;
}

#portrait {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

#sticky-parent {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    height: 225px;
}

#about-me-div {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: calc(80vh);
    text-align: center;
    width: 100%;
}

#about-me-button,
#projects-btn,
#blog-btn {
    font-size: 1.2rem;
    padding: 12px 30px;
    background-color: #ccbeb5;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,1);
}

#about-me-button {
    background-color: #ccbeb5;
}

#about-me-button:hover {    /* display down arrow with JS */
    background-color: #bdafa6;
}

#about-me-button:active {
    background-color: #9c8b7c;
}

#down-arrow {
    visibility: hidden;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#down-arrow.active {
    visibility: visible;
}

#about-me-section {
    padding-top: 40px;
}

#filmstrip {
    padding: 5px 0;
    margin: 30px -20px 0 -20px;
    background: linear-gradient(to right, #211C18 0%, #454443 20%, #211C18 100%);
    cursor: pointer;
    overflow-x: scroll;
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}

#filmstrip::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}

#flim-flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.repeat-boxes {
    background-image: url("photos/box.png");
    background-size: 30px;
    background-repeat: repeat-x;
    margin-left: 2px;
    height: 30px;
}

#photos-scroll {
    display: flex;
    column-gap: 12px;
    padding: 0 12px 3px 12px;
    width: max-content;
}

#photos-scroll .photo {
    background-color: #e7eaf3;
    padding: 5px;
    border-radius: 2px;
    width: min-content;
}

#photos-scroll .photo img {
    height: 40vw;
    border-radius: 2px;
}

#photos-scroll .photo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 45px;
    padding: 0 2px
}

#photos-scroll .photo p {
    margin: 0;
}

#scroll-instructions {
    width: 100%;
    font-size: 0.8rem;
    margin: 5px;
    color: #211c18;
    text-align: center;
}

.project {
    background-color: rgb(210, 188, 160);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.project:nth-child(odd) {
    background-color: rgb(192, 165, 130);
}

.project .project-title {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.project .project-title .title,
.project .project-title .date,
.project .project-desc,
.project .project-links p {
    padding: 0;
    margin: 0;
}

.project img {
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
}

.project .project-title .date {
    font-size: 0.7rem;
}
 
.project .project-desc {
    margin: 10px 0;
}

.project .project-links {
    display: flex;
    justify-content: space-around;
}

#projects-btn,
#blog-btn {
    display: block;
    margin: auto;
    background-color: rgb(192, 165, 130);  /* for now */
}

footer {
    margin: -20px;
    margin-top: 30px;
    padding: 15px;
    background-color: var(--warm-gray);
}

@media screen and (min-width: 768px) {
    #hero-section {
        width: 50%;
        /* Add more photos and have name in center */
    }
}

@media screen and (min-width: 1200px) {
}
