* {
    box-sizing: border-box;
}

:root {
    --warm-yellow: #f3d9b1;
    --light-yellow: #F5EBDC;
    --warm-gray: #D1C9BC;
    --dark-green: #214f4b;
    --dark-pink: #776871;
    --light-pink: #a6808c;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 15px;
    background-color: var(--warm-yellow);
}

button {
    font-family: "Outfit", sans-serif;
}

button:hover {
    cursor: pointer;
}

nav {
    display: none;
    position: fixed;
    margin: -15px;
    padding: 5px 15px;
    width: 100%;
    background-color: var(--warm-gray);
}

#hero-section {
    background-color: none;
    background-image: url(torn-paper.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 40px -3px 35px -37px rgba(0,0,0,0.32);
    border-radius: 7px;
    min-height: 100vh;
    border: 2px solid blue;
}

#hero-content {
    padding: 20px 30px;
    height: 100%;
    border: 2px solid green;
}

.hero-text {
    margin: 0;
    padding: 5px;
    text-align: center;
}

#name {
    font-size: 2rem;
}

#portrait {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

#about-me-div {
    text-align: center;
    border: 2px solid red;
    margin-top: 50px;
}

#about-me-button {
    font-size: 1rem;
    padding: 10px;
    background-color: none;
    border-radius: 10px;
    border: none;
}

#about-me-button:hover {    /* display down arrow with JS */
    background-color: lightgray;
}

#about-me-button:active {
    background-color: gray;
}

#down-arrow {
    display: none;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 30px;
}

#about-me-section {
    margin-top: 50px;
}

footer {
    margin: -15px;
    margin-top: 30px;
    padding: 15px;
    background-color: var(--warm-gray);
}

@media screen and (min-width: 768px) {
    #hero-section {
        width: 50%;
        /* Add more photos and have name in center */
    }
}

@media screen and (min-width: 1200px) {
}
